body {
background: #BB7A46;
background-repeat: no-repeat;
background-position: 0% 25%;
background-attachment: fixed;
width:780px4
color: #22517f;
font-size: 11px;
font-family: Verdana, sans-serif;
padding:10px auto 0 auto;
margin:auto;
}

A:link {
	COLOR: #0080ff; TEXT-DECORATION: none;
}
A:visited {
	COLOR: #8F5933; TEXT-DECORATION: none;
}
A:active {
	COLOR: #8F5933; TEXT-DECORATION: none;
	}
A:hover {
	COLOR: #008CBA; TEXT-DECORATION: none;
	}

A.footerl:link {
	COLOR: #000; TEXT-DECORATION: italics;
}
A.footerl:visited {
	COLOR: #000; TEXT-DECORATION: none;
}
A.footerl:active {
	COLOR: #000; TEXT-DECORATION: none;
	}
A.footerl:hover {
	COLOR: #008CBA; TEXT-DECORATION: underline;
	}

.container {
background-color: #ff;
border: 1px solid #ffaa00;
}

.navigation {
	letter-spacing: 1px;
	word-spacing: 25px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 95%;
	float: left;
	text-align: left;
	background-color: #FFF;
	padding: 38px 15px 13px 15px;
}

.logo {
	border-bottom: 5px solid #FDED73;
	text-align: right;
	color: #F1A93B;
	font-size: 24px;
	padding: 15px;
}
.logo em{
	display:block;
	text-align: right;
	color: #CC0000;
	font-weight: normal;
	font-size: 10px;
}

.image {
	background: url(images/landscape.jpg);
	background-repeat: no-repeat;
	background-position: 100% 0%;
	width: 50%;
	height: 279px;
}


.bluebox {
	height: 100px;
	border-bottom: 2px dotted #FFF;
	border-right: 2px dotted #FFF;
	background: #669CC0 url(/images/dots.gif);
	background-repeat: no-repeat;
	background-position: 99% 97%;
	float: left;
	width: 80%;
}

.rightgrey {
	background: #A2A2A3;
	height: 147px;
	float: left;
}

.content {
	padding: 5px;
}

.leftcontent {
	background:#fff;
	padding:20px;
}

h3 {
	color: #F1A93B;
	padding: 0;
	margin: 0 0 5px 0;
	text-decoration: underline;
	width: 50%;
}


.footer {
	font-size: 11px;
	padding: 0 3px 3px 3px;
	float: right;
}


